
.color-red {
    color: #981808;
}
.bgcolor-gray {
    background: #eee none repeat scroll 0 0;
}
.m-bottom {
    margin-bottom: 20px;
}
.bgcolor-red {
    background: #dd514c none repeat scroll 0 0;
}
.color-white {
    color: white;
}
.color-black {
    color: black;
}
.color-darkgray {
    color: #888;
}
.step:hover {
    text-decoration: none;
}
.row {
    float: left;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.w20 {
    width: 20%;
}
#noteContent {
    border-style: none;
    outline: medium none;
}
.one-row {
    -moz-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.comment-left {
    float: left;
    width: 40%;
}
.comment-right {
    float: left;
    padding-left: 20px;
    width: 60%;
}
.dimension-name {
    float: left;
    width: 70px;
}
.dimension-value {
    padding-left: 70px;
    width: 100%;
}
.comment-row {
    float: left;
    height: 35px;
    width: 100%;
}
.comment-keywords {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}
